<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.polly">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <application
        android:name=".application.PollApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Polly">
        <activity android:name=".activities.VoteActivity"></activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Polly.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.App_Setting"
            android:label="@string/app_name"
            android:theme="@style/Theme.Polly"
            >
        </activity>
        <activity
            android:name=".activities.Registeration"
            android:label="@string/app_name"
            android:theme="@style/Theme.Polly.NoActionBar"></activity>
        <activity
            android:name=".activities.HomePage"

            android:theme="@style/Theme.Polly"></activity>
        <activity
            android:name=".activities.mypolls"
            android:label="my polls"
            android:theme="@style/Theme.Polly.NoActionBar"></activity>

        <activity
            android:name=".activities.NearPollsActivity"
            android:label="Near Polls"
            android:theme="@style/Theme.Polly"></activity>
        <activity
            android:name=".activities.post"
            android:label="my polls"
            android:theme="@style/Theme.Polly.NoActionBar"></activity>
        <activity android:name=".activities.polldetails" />

        <receiver android:name=".receivers.ReminderBroadcast"/>
    </application>

</manifest>